.mypatient-profile-view
{
  background-color:#e2e2e2 !important;// $profile-bg !important;
  font-family: Ubuntu,bold,sans-serif !important;

  .top-content
  {
  //  border-bottom: 0px solid $content-color;
    position: relative;
    width: 100%;
    margin-bottom: 1vh;
    //background-color: red;
  }



.item-avatar{
 background-color: #e7e7e7;
 width: 100%;
 width: 100vmin;
 text-align: left;
 margin-top: 0vh;
 border-left: none;
 border-right: none;
 border-bottom: 1px solid #e7e7e7;
 border-width:   auto;
 padding-bottom: -30px;
 img{

  padding: 2px;
  background-color: #dedad7 !important;
 }

}
.item-avatar:first-child {
border-top: none;
}
.item-avatar:last-child {
border-bottom: none;
display: block;
position: absolute;
margin-bottom:80px !important;
}
h2{
  font-size: 4vw;
  span{

    position: absolute !important;
    margin-left: 1vw;
  }
}


}
