.search-view
{
  background-color:#e2e2e2;// $profile-bg !important;
  font-family: Ubuntu,bold,sans-serif !important;
  .top-content
  {
   border-bottom: 0px solid $content-color;
    position: relative;
    height: 30vh;
    margin-bottom: 1vh;
    background-color:#e2e2e2;
    margin-left: 0vw;
    margin-right: 0vw;
    font-family: Ubuntu,bold,sans-serif !important;
  }
  h2{
      font-family: Ubuntu,bold,sans-serif !important;
  }
  .bottom-content
  {
    margin-top: -10vh;
    padding-top: 25vh;
    margin-left: 25vw;
    margin-right: 5vw;
  //  margin-bottom: 5vh;
    //padding:20px;
    background-color: white;
    min-height: 0vh;
    position: float;
    font-family: Ubuntu,bold,sans-serif !important;
  }
  .dark .item {
  background-color: #e2e2e2;
  border: none;
  //border-top: 1px solid #464646;
  //border-bottom: 2px solid #333333;
//  padding: 20px;
  //max-height: none;
}


}
