.patient-topup-view
{
  background-color: #e2e2e2 !important;
  font-family: Ubuntu,bold,sans-serif !important;

  .top-content
  {
    width: 100%;
    height: 30vmin;
    text-align: center;
    overflow: hidden;
    z-index: 0;
    //background-color: red;

    img{
    //  width: 100%;
      position: absolute;
      width: 13vmin;
      height: 13vmin;
      margin-top: 1vh !important;
      margin-left:5vw;
      //margin-right: -30vw;
      border-radius: 60%;

    }
    h1{
      position: absolute;
      width: 100%;
      font-size: 4vw;
      margin-left: -8vw;
      margin-top: 0vh !important;
      padding-bottom: 2%;
      //margin-left: 16vw;
      word-spacing: 1px;
      text-align: center;
    }
    h2{
      position: absolute;
      width: 100%;
      font-size: 4vw;
      margin-left: -8vw !important;
      margin-top: 2.5vh !important;
      padding-bottom: 2%;
      //margin-left: 16vw;
      word-spacing: 1px;
      line-height: -2px;
      text-align: center;
      font-weight: lighter;


    }

    .user-image
      {
        //border-top: 1px solid $content-color;
        padding: 5px;
        background-color:#dedad7 !important;// $profile-bg;
        margin-left: -4vw;
        //border-radius: 60%;
        //add one more image
      }
    .profile-container
       {
           margin-top: 1vh;
           margin-bottom: 1vh;
           margin-left: 1vh;
           margin-right: 100px ;
           text-align: center;
           padding:20px;

       }
     .user-image-container
     {
       width:60% !important;
       height:auto;
       margin-left: 30vw;
       margin-top: -5vh;
     }



  }
  .refund{
    position: absolute;
    max-width: 100%;
    width: 90vmin;
    padding: 10px auto;
    margin-left: 10vw !important;
    //background-color: blue;
    .item {
     background-color: #ffffff;
     position: absolute;
     max-width: 100%;
     width: 90vmin !important;
     display: block;
     height: 47px !important;
     margin-top: 1vh !important;
     border-width: 1px;
     border-style: solid;
     font-size: 4vw !important;
     line-height: 12px;
     margin-left: -4vw;
   }
    h3{
      position: absolute;
      width: 100%;
      font-size: 3.5vw;
      margin-top: -2vh !important;
      line-height: -2px;
      text-align: center;
      margin-left:-3vw ;
      font-weight: lighter;


    }
  }

  .button-container
  {
    height: 5%;
    width: 100%;
    width: 70vmin;
    position: absolute;
    margin-top: 9vh;
    margin-left: 15vw;
  //  background-color: red;
    .button {
    border-color: #b2b2b2;
    background-color: #6aa13e;
    color: #fff;
    position: relative;
    display: inline-block;
    min-height: 7px;
    border-width: 0px;
    border-style: solid;
    border-radius: 2px;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;

}

  }

.item-divider {
    position: relative;
    min-height: 20px;
    background-color:#dbdbdb;
    color: #222;
    font-weight: 500;
    text-align: center;
    margin-top: 21vh !important;
    border-top: 1px solid white;
}

.bottom-content{
  margin-top: 0vh !important;
  padding-bottom: 10px;
  position: relative;
  //margin-top: 2vh !important;
  display: inline-grid;
  width: 100vmin;
  height:90vmin;
  text-align: center;
  background-color: #e2e2e2;
  overflow:   scroll !important;
  box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.8);

  .item-avatar{
   background-color: #e2e2e2 !important;
   max-width: 100%;
   width: 100vmin;
   margin-top: 0vh;
   margin-bottom: auto !important;
   border-left: none;
   border-right: none;
   border-bottom: 3px ;
   border-width:  thin;
   border-color: #f9f9f9;

   p{
     font-size: 3vw;
     line-height: 12px;
     color: black;
     text-align: left;
   }
   span{
     background-color: red;
     text-align: right;
     margin-left: 10vw;
   }


  }
   .item-avatar:first-child {
   margin-top: 0vh;
   border-top: none;
   box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8) !important;
   }
   .item-avatar:last-child {
   border-bottom: none;
   display: block;
   position: absolute;
   margin-bottom:80px !important;
   }
  }
  h3{
    //background-color: red;
    text-align: left;
    line-height: 1.3;
    .span{
      background-color: red !important;
      text-align: right;
    }
  }




}
