<ion-view class="doctor-reg-view" cache-view="false">
  <ion-content scroll="false">
     <p class="doct"> Doctor Registration</p>
     <img src="img/progress1.png" >
     <p class="dqdesc"> DoctorQuick is a unique technology to help you consult and treat patients at your own time and pace from different corners of the country and get paid for your time.</p>
     <form class="list">

            <label class="item item-input" name="doc_fname">
                <input type="text" placeholder="First Name" ng-model="doc_fname">
            </label>

         <div class="spa"> </div>

            <label class="item item-input" name="doc_mname">
                <input type="text" placeholder="Middle Name" ng-model="doc_mname">
            </label>

              <div class="spa"> </div>

            <label class="item item-input" name="doc_lname" >
                <input type="text" placeholder="Last Name" ng-model="doc_lname">
            </label>


            <a  class="login button button button-block button-balanced " ui-sref="auth.doctorRegistration2">Next</a>

      </form>
  
      </div>
    </div>
  </ion-content>
</ion-view>
