
<ion-view class="signup-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card sign-up-container">
          <p>Thankq</p>
        <form name="signup_form" class="" novalidate>
            <div class="item item-body">

            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="cancel()" >
                Close
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Login
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
