<ion-view class="doc-reg2-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        <img src="img/progress2.png">
      </div>

    </div>
    <form class="list">

          <label class="item item-input" name="doc_email">
              <input type="email" placeholder="Email Address">
          </label>

          <div class="spacerform"> </div>

          <label class="item item-input" name="doc_phnum">
              <input type="tel" placeholder="Mobile Number">
          </label>

          <div class="spacerform"></div>

          <button class="login button button-balanced" ng-click="showConfirm();">Submit</button>
      </form>

    <div class="bottom-content row">
      <div class="col col-center">

      </div>
    </div>
  </ion-content>
</ion-view>
