<ion-view class="patient-reg-1-view" cache-view="false">
  <ion-content scroll="false">
    <div class="mainHeading">

         <p>Patient Registration</p>

     </div>
     <img class="img1" src="img/iOS-Assets-v01_patient_registration_progress1.png" >
     <div class="Content">

     <p> Register now and get your first consultation FREE with doctor of your choice. </p>

    </div>
    <form class="list">
          <div class="input-types">
                  <label class="item item-input" name="pat_fname">
                      <input type="text" placeholder="First Name" >
                  </label>

                  <label class="item item-input" name="pat_mname">
                      <input type="text" placeholder="Middle Name">
                  </label>

                  <label class="item item-input" name="pat_lname">
                      <input type="text" placeholder="Last Name">
                  </label>

                  <label class="item item-input" name="pat_lname">
                      <input type="number" placeholder="Age">
                  </label>
          </div>
      </div>


        <button class="login button button-block button-calm  " ui-sref="auth.patientRegistration2">Next</button>

              <h2 > By Signing in, I agree to DoctorQuicks </h2>
              <h3 class="link"><a href="#">Terms and Conditions</a> </h3>
      </form>

  </ion-content>
</ion-view>
