<ion-view class="patient-reg-3-view" cache-view="false">
  <ion-content scroll="false">
    <img  src="img/iOS-Assets-v01_patient_registration_progress3.png">
    <h1> Please enter the 4 digit verification code in the text message sent to </h1>
    <h2>9844992181</h2>

    <form class="formdata">

           <div class="row">
               <div class="col">
                 <label class="item item-input" name="otp">
                     <input type="number" placeholder="1" maxlength="1">
                 </label>
               </div>
               <div class="col">
                 <label class="item item-input" name="otp">
                     <input type="number" placeholder="2" maxlength="1">
                 </label>
               </div>
               <div class="col">
                 <label class="item item-input" name="otp">
                     <input type="number" placeholder="3" maxlength="1">
                 </label>
               </div>
               <div class="col">
                 <label class="item item-input" name="otp">
                     <input type="number" placeholder="4" maxlength="1">
                 </label>
               </div>
           </div>
          <div class="button-container">

            <button class=" login button button-balanced"> Resend </button>

            <button type="submit" class="login button button-balanced " ng-click="doLogIn();" ng-disabled="(login_form.user_phone.$invalid || login_form.user_pin.$invalid) : false">
              Confirm
            </button>
          </div>

   </form>
   <h3>Din't receive a text from DoctorQuick? <p>Tap Resend.</p></h3>
   <h4>By signing in, I agree to DoctorQuicks <p><a href="#">Terms and Conditions</a></p> </h4>
  </ion-content>
</ion-view>
