<ion-view class="summary-view" cache-view="false">
  <ion-nav-title>
    <span>Summary</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <a class="item item-avatar item-icon-right" >
      <img src="img/doc.jpg">
      <h2>Dr.FirstName LastName </h2> <i class="icon ion-android-add-circle"></i>
      <p class="degrees">General Medicine,Degrees</p>
        <p class="practice">Practicing since 1999<span>*****</span><span>(4.9/27)</span></p>
    </a>
    <div class="card summary-content">
      <div class="row">
            <div class="col">Messeges</div>
            <div class="col right-side"><span class="badge badge-positive ">{{1}}</span></div>
      </div>
      <div class="row">
            <div class="col-75">Add Doctor to favorites</div>
            <div class="col right-side">*</div>
      </div>
      <div class="row">
            <div class="col">Ratings</div>
            <div class="col right-side">*****</div>
      </div>
    </div>
    <div class="top-content row">
      <div class="col col-center">
        <h2>Please share details with us why you were unhappy with the consultation so that we can improve our service.</h2>
      </div>


    </div>
    <div class="textform">
      <label class="item item-input">
       <textarea placeholder=" " ></textarea>
     </label>
     <div class="col-30 col-50 col-offset-50">
       <button class="button-small button-block">Send</button>
     </div>
     <!--<div class="row">
      <div class="col-75 col-offset-25">
        <button class="button button-block button-energized">Button</button>
      </div>
    </div>-->

    </div>
    <div class="bottom-content row">
      <div class="col col-center">

      </div>
    </div>
  </ion-content>
</ion-view>
