<ion-view class="mydoctor-profile-view">
  <ion-nav-title>
    <span>My Doctors</span>
  </ion-nav-title>
  <ion-content>

          <a class="item item-avatar item-icon-right" ui-sref="app.doctorprofile">
            <img src="img/doc.jpg">
            <h2>Dr.FirstName LastName </h2> <i class="icon ion-android-add-circle"></i>
            <p>General Medicine,Degrees</p>
              <p>Practicing since 1999<span>*****</span></p>
          </a>
          <a class="item item-avatar item-icon-right" ui-sref="app.doctorprofile">
            <img src="img/doc.jpg">
            <h2>Dr.FirstName LastName </h2><i class="icon ion-android-add-circle"></i>
            <p>General Medicine,Degrees</p>
            <p>Practicing since 1999<span>*****</span></p>
          </a>
          <a class="item item-avatar item-icon-right" ui-sref="app.doctorprofile">
            <img src="img/doc.jpg">
            <h2>Dr.FirstName LastName </h2><i class="icon ion-android-add-circle"></i>
            <p>General Medicine,Degrees</p>
              <p>Practicing since 1999<span>*****</span></p>
          </a>
          <a class="item item-avatar item-icon-right" ui-sref="app.doctorprofile">
            <img src="img/doc.jpg">
            <h2>Dr.FirstName LastName </h2><i class="icon ion-android-add-circle"></i>
            <p>General Medicine,Degrees</p>
            <p>Practicing since 1999<span>*****</span></p>
          </a>
          <a class="item item-avatar item-icon-right" ui-sref="app.doctorprofile">
            <img src="img/doc.jpg">
            <h2>Dr.FirstName LastName </h2><i class="icon ion-android-add-circle"></i>
            <p>General Medicine,Degrees</p>
              <p>Practicing since 1999<span>*****</span></p>
          </a>
          <a class="item item-avatar item-icon-right" ui-sref="app.doctorprofile">
            <img src="img/doc.jpg">
            <h2>Dr.FirstName LastName </h2><i class="icon ion-android-add-circle"></i>
            <p>General Medicine,Degrees</p>
            <p>Practicing since 1999<span>*****</span></p>
          </a>
          <a class="item item-avatar item-icon-right" ui-sref="app.doctorprofile">
            <img src="img/doc.jpg">
            <h2>Dr.FirstName LastName </h2><i class="icon ion-android-add-circle"></i>
            <p>General Medicine,Degrees</p>
              <p>Practicing since 1999<span>*****</span></p>
          </a>

    <div class="bottom-content">

    </div>
  </ion-content>
</ion-view>
