<ion-view class="patient-payment-view" cache-view="false">

  <ion-nav-title>
    <span>Payments</span>
  </ion-nav-title>
  <ion-content>

    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <!--<img class="user-image" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" spinner-on-load>-->
           <img ng-src="/img/dq_icon_payments_large_540x960.png" spinner-on-load>
          </pre-img>
        </div>
        <h1>DoctorQuick Wallet</h1>
        <h2>Balance<span>$72.00</span></h2>
    </div>


    </div>
    <div class="button-container">
      <button  type="submit" class="refund button button-balanced" ui-sref="app.patientRefund">
         Refund
        </button>
       <button class="topup button button-balanced" ui-sref="app.patientTopup">
         Topup
       </button>

    </div>
<ion-item class="item-divider">Transaction History</ion-item>
<div class="bottom-content">

  <a class="item  item-avatar" >
    <img src="img/doc.jpg">
    <h3>FirstName LastName<span>$15.00</span></h3>
    <p>12 january 2016</p>
  </a>

  <a class="item  item-avatar" >
    <img src="img/doc.jpg">
    <h3>FirstName LastName<span>$15.00</span></h3>
    <p>12 january 2016</p>
  </a>

  <a class="item  item-avatar" >
    <img src="img/doc.jpg">
    <h3>FirstName LastName<span>$15.00</span></h3>
    <p>12 january 2016</p>
  </a>

  <a class="item  item-avatar" >
    <img src="img/doc.jpg">
    <h3>FirstName LastName<span>$15.00</span></h3>
    <p>12 january 2016</p>
  </a>

  <a class="item  item-avatar" >
    <img src="img/doc.jpg">
    <h3>FirstName LastName<span>$15.00</span></h3>
    <p>12 january 2016</p>
  </a>


</div>

</ion-content>


</ion-view>
