<ion-view class="patientprofile-view" cache-view="false">

  <ion-nav-buttons side="primary">

    </ion-nav-buttons>
  <ion-nav-title >
    <span>Patient Profile</span>

  </ion-nav-title>
  <ion-content>

    <div class="top-content row">
      <div class="">
        <div class="user-image-container">
          <pre-img >
            <img class="user-image" ng-src="/img/doc.jpg" spinner-on-load>
          </pre-img>
          <div class="user-name"><h4>FirstName LastName </h4></div>

        </div>

      </div>

    </div>
<div class="bottom-content">

    <div class="card ">
      <div class="row">
            <div class="col">Age</div>
            <div class="col">33</div>

      </div>
      <div class="row">
            <div class="col">Gender</div>
            <div class="col">Male</div>

      </div>

    </div>

    <div class="card">
      <div class="row">
            <div class="col">Email</div>
            <div class="col col-67">ravikiran@greettech.com</div>

      </div>
    </div>

    <div class="card ">
      <div class="row">
            <div class="col">Language 1</div>
            <div class="col">English</div>

      </div>
      <div class="row">
            <div class="col">Language 2</div>
            <div class="col">Kannada</div>

      </div>
    </div>

    <div class="card" ui-sref="templates.patientchat">
        <div class="row">
              <div class="col">Change Password</div>
        </div>
     </div>

  </ion-content>
</ion-view>
