<ion-view class="sepecility-details-view" cache-view="false">
  <ion-nav-title>
   <span>Medical Speciality</span>
 </ion-nav-title>
  <ion-content scroll="false">
    <a class="item dark item-avatar item-icon-right"  ><!--ui-sref="app.doctorprofile"-->
        <img src="img/dq_icon_specialities_medium_540x960.png">
        <div><h2>Anasthesia </h2>
        <p>Description and details about speciality</p>
        </div>
        <i class="icon ion-android-alert"></i>
    </a>
<p class="description">Medications that cause anaesthesia are called anaesthetics. Anaesthetics are used during tests and surgical operations to numb sensation in certain areas of the body or induce sleep. This prevents pain and discomfort, and enables a wide range of medical procedures to be carried out.Medications that cause anaesthesia are called anaesthetics. Anaesthetics are used during tests and surgical operations to numb sensation in certain areas of the body or induce sleep. This prevents pain and discomfort, and enables a wide range of medical procedures to be carried out.</p>
<div class="card ">
  <div class="row">
        <div class="col">Online Doctors</div>
        <div class="col right-side">25</div>
  </div>
</div>
<p class="sendRequest">Send request for a consultation to all {{Anasthesia}} Specialists who are online</p>
    <a class="login button button-block button-stable" >
      send Request
    </a>

  </ion-content>
</ion-view>
