.doc-reg2-view
{
	.top-content
	{
		height: 20%;
		text-align: center;
		img{
			margin-top: 4vh;
			margin-left: 5vw;
			max-width: 100%;
			width: 37vmin !important;
			height: auto !important;

		}

	}
	.list{
		margin-top: 15vh !important;
		margin-left: 10vw;
	}
	.item.item-input
			{
					width: 80%;
					height: 15vmin;
					margin-top: 2vh;
					margin-left: 5vw;



			}

			.login.button
			{

				background-color: #6aa13e;
				width:80%;
				margin-left: 5vw;
				margin-top: 15vh;
				border-radius: 3px;
				box-shadow: 1px 1px 1px 0px #888888;

			}
	.bottom-content
	{
		height: 80%;
		padding-top: 5px;
		margin-top: 0px;

		.button
		{
			border: none;
			color: $auth-color;
			font-weight: bolder;
			font-size: 20px;
		}

		.login.button
		{
			background-color: $auth-login-btn-bg;
		}

		.sign-up.button
		{
			background-color: $auth-signup-btn-bg;
		}
	}
}
