<ion-view title="Patient Registration3">
    <ion-content padding="'true'" class="has-header">
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <img src="img/B0ddrD4USpGDQstTqEPL_iOS-Assets-v01_patient_registration_progress3.png" width="50%" height="auto" style="width: 50%; height: auto;">
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div>
            <p>
            </p>
            <center>
                <font>Please enter the four digit verification code sent to +91912345678</font>
            </center>
            <p></p>
        </div>
        <div class="spacer" style="width: 300px; height: 27px;"></div>
        <form class="list">
            <label class="item item-input" name="otp">
                <input type="number" placeholder="PIN">
            </label>
        </form>
        <button class="button button-balanced  ">Resend</button>
        <button class="button button-balanced  ">Confirm</button>
        <div>
            <p>
            </p>
            <center>
                <font></font>
            </center>

            <p></p>
        </div>
        <div>
            <center>
                <font>Din't receive a text from DoctorQuick?
                    <br>Tap Resend.</font>
            </center>
        </div>
        <div class="spacer" style="width: 300px; height: 27px;"></div>
        <div>

            <center>
                <font size="1">By signing in i agree to DoctorQuicks
                    <a href="#/">Terms&amp;COnditions</a>
                </font>
            </center>

        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">2</button>
        </div>
    </ion-content>
</ion-view>