<ion-view title="Patient Registration1">
    <ion-content padding="'true'" class="has-header">
        <div>
            <center>Patient Registration</center>
        </div>
        <div class="spacer" style="width: 300px; height: 9px;"></div>
        <img src="img/lg6fumZSgK9SqSpF5qUa_iOS-Assets-v01_patient_registration_progress1.png" width="50%" height="auto" style="width: 50%; height: auto;">
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <div>
            <center>Register now and get your first consultation FREE with Doctor of your choice.</center>
        </div>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <form class="list">
            <label class="item item-input" name="pat_fname">
                <input type="text" placeholder="First Name">
            </label>
            <div class="spacer" style="width: 300px; height: 7px;"></div>
            <label class="item item-input" name="pat_mname">
                <input type="text" placeholder="Middle Name">
            </label>
            <div class="spacer" style="width: 300px; height: 7px;"></div>
            <label class="item item-input" name="pat_lname">
                <input type="text" placeholder="Last Name">
            </label>
            <div class="spacer" style="width: 300px; height: 9px;"></div>
            <label class="item item-input" name="pat_lname">
                <input type="number" placeholder="Age">
            </label>
            <a menu-close="" href="#/Patient Registration2" class="button button-balanced button-block ">Next</a>
        </form>
    </ion-content>
</ion-view>