<ion-view title="Patient Registration2">
    <ion-content padding="'true'" class="has-header">
        <img src="img/wAB0XYGRQeP7SKJpMEQi_iOS-Assets-v01_patient_registration_progress2.png" width="50%" height="auto" style="width: 50%; height: auto;">
        <div>

            <center>
                <font>Age,gender,email &amp; password</font>
            </center>

        </div>
        <form class="list">
            <label class="item item-input" name="doc_phnum">
                <input type="tel" placeholder="Mobile Number">
            </label>
            <div class="button-bar">
                <button class="button button-light button-block  icon-left ion-male">Male</button>
                <button class="button button-light button-block  icon-left ion-female">Female</button>
            </div>
            <label class="item item-input" name="pat_email">
                <input type="email" placeholder="Email">
            </label>
            <div class="spacer" style="width: 300px; height: 9px;"></div>
            <label class="item item-input" name="pat_email">
                <input type="password" placeholder="Password">
            </label>
            <div>
                <p>
                </p>
                <center>
                    <font size="1">Prescription and consultation receipts will be mailed to this email address</font>
                </center>
            </div>
            <a menu-close="" href="#/page3" class="button button-balanced button-block ">Next</a>
            <div>

                <center>
                    <font size="1">By signing in i agree to DoctorQuicks
                        <a href="#/">Terms&amp;COnditions</a>
                    </font>
                </center>

            </div>
        </form>
    </ion-content>
</ion-view>