.prescription-view
{
	background-color: #e2e2e2 !important;
font-family: Ubuntu,bold,sans-serif !important;
	.item-avatar{
   background-color: #e2e2e2;
   width: 100%;
   width: 100vmin;
   text-align: left;
   margin-top: -35vh;
   border-left: none;
   border-right: none;
   border-bottom: none;
   border-width:   auto;
   padding-bottom: 2px;
   img{
    margin-top: -1vh !important;
    margin-left: -1vw !important;
    padding: 5px;
    background-color: #dedad7 !important;
    max-width: 100%;
    max-height: 100%;
    height: 16vmin ;
    width: 16vmin !important;

   }
   h2{
     font-size: 5vw;
     margin-left: 5vw;
   }
   p{
     font-size: 4vw;
     margin-top: 1vh;
      margin-left: 5vw;
      font-weight: 300;
   }
   .icon{
     margin-left: 2vw;
     padding-right: 20px;
     padding-top: 18px;

   }

  }

	.top-content
	{
		height: 75%;
		text-align: center;
		.clear-field{
			color:#343434;
			margin-top: 4vh ;
			margin-left: 0vw;
			font-size: 4vw;
			font-weight: 300;
		}
		.done{
			color:#343434;
			margin-top: 4vh ;
			margin-left: 60vw;
			font-size: 4vw;
			font-weight: 300;
		}
		.textform{
			max-width: 100%;
			width: 100%;
			height: 45vh;
			//background-color: red;
			margin-top: 0vh ;
			margin-left: -2vw;
			position: absolute;
			box-shadow:  0px -5px 10px rgba(50, 50, 50, 0.75);


			top: 5;
			textarea{
				position: relative;
				width: 100%;
				margin-left: -2vw;
				padding: 2px auto;
				margin-top: 0vh !important;
				height:45vh !important;
				font-size: 5vw;
			//	box-shadow: inset 10px 20px 20px -20px rgba(0,0,0,0.75) !important;
			}

		}
	}

	.bottom-content
	{
		height: 25%;
		padding-top: 5px;
		margin-top: 0px;

		.button
		{
			border: none;
			color: $auth-color;
			font-weight: bolder;
			font-size: 20px;
		}

		.login.button
		{
			background-color: $auth-login-btn-bg;
		}

		.sign-up.button
		{
			background-color: $auth-signup-btn-bg;
		}
	}
}
