<ion-view class="mypatient-profile-view" cache-view="false">
  <ion-nav-title>
    <span>My Consultations</span>
  </ion-nav-title>
  <ion-content>

          <a class="item item-avatar item-icon-right"  ui-sref="templates.patientchat"><!--ui-sref="app.doctorprofile"-->
            <img src="img/patient.jpg">
            <h2>FirstName LastName <span>2015/11/23</span></h2>
            <p>Last sent/received msg</p>  <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-avatar item-icon-right"  ui-sref="templates.patientchat"><!--ui-sref="app.doctorprofile"-->
            <img src="img/patient.jpg">
            <h2>FirstName LastName <span>2015/11/23</span></h2>
            <p>Last sent/received msg</p>  <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-avatar item-icon-right"  ui-sref="templates.patientchat"><!--ui-sref="app.doctorprofile"-->
            <img src="img/patient.jpg">
            <h2>FirstName LastName <span>2015/11/23</span></h2>
            <p>Last sent/received msg</p>  <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-avatar item-icon-right"  ui-sref="templates.patientchat"><!--ui-sref="app.doctorprofile"-->
            <img src="img/patient.jpg">
            <h2>FirstName LastName <span>2015/11/23</span></h2>
            <p>Last sent/received msg</p>  <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-avatar item-icon-right"  ui-sref="templates.patientchat"><!--ui-sref="app.doctorprofile"-->
            <img src="img/patient.jpg">
            <h2>FirstName LastName <span>2015/11/23</span></h2>
            <p>Last sent/received msg</p>  <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-avatar item-icon-right"  ui-sref="templates.patientchat"><!--ui-sref="app.doctorprofile"-->
            <img src="img/patient.jpg">
            <h2>FirstName LastName <span>2015/11/23</span></h2>
            <p>Last sent/received msg</p>  <i class="icon ion-ios-arrow-right"></i>
          </a>

          <a class="item item-avatar item-icon-right"  ui-sref="templates.patientchat"><!--ui-sref="app.doctorprofile"-->
            <img src="img/patient.jpg">
            <h2>FirstName LastName <span>2015/11/23</span></h2>
            <p>Last sent/received msg</p>  <i class="icon ion-ios-arrow-right"></i>
          </a>



  </ion-content>
</ion-view>
