<ion-view class="customercare-view" cache-view="false">
  <ion-nav-title>
    <span>Customer Care</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="top-content row">
      <h1>Please contact us through the form </h1>
      <h2>below or request a callback</h2>
      <div class="textform">
        <label class="item item-input">
         <textarea placeholder=" " ></textarea>
       </label>
       <div class="col-30 col-50 col-offset-50">
         <button class="button button-block">Send</button>
       </div>
       <!--<div class="row">
        <div class="col-75 col-offset-25">
          <button class="button button-block button-energized">Button</button>
        </div>
      </div>-->

      </div>
    </div>
    <div class="bottom-content row">
      <pre-img ratio="" helper-class="" class="cc-bottom-content"  >
          <img ng-src="/img/dq_icon_time_540x960.png" spinner-on-load>
        </pre-img>
        <h3>Working Hours:9am to 9pm</h3>
        <h4>(Indian standerd time)</h4>
        <div class=" col">
          <button class="button button-block">Request a callback</button>
        </div>
    </div>
  </ion-content>
</ion-view>
