<ion-view class="docprofile-view" cache-view="false">

  <ion-nav-buttons side="primary">

    </ion-nav-buttons>
  <ion-nav-title class="">
    <span>Doctor Profile</span>

  </ion-nav-title>
  <ion-content>

    <div class="top-content row">
      <div class="">
        <div class="user-image-container">
          <pre-img >
            <img class="user-image" ng-src="/img/doc.jpg" spinner-on-load>
          </pre-img>
          <div class="user-name"><h4>Dr FirstName LastName </h4></div>
            <div class="rating">*****(25 Reviews)</div>



        </div>

      </div>

    </div>
<div class="bottom-content">

    <div class="card ">
      <div class="row">
            <div class="col">First Name</div>
            <div class="col">Aaaaa</div>
      </div>
      <div class="row">
            <div class="col">Middle Name</div>
            <div class="col">Bbbbb</div>
      </div>
      <div class="row">
            <div class="col">Last Name</div>
            <div class="col">Cccccc</div>
      </div>
    </div>

     <div class="card">
       <div class="row">
             <div class="col">Degrees</div>
             <div class="col">MBBS,MD</div>
       </div>
       <div class="row">
             <div class="col">Practicing Since</div>
             <div class="col">10 years</div>
       </div>
     </div>

    <div class="card ">
      <div class="row">
            <div class="col">Age</div>
            <div class="col">33</div>
      </div>
      <div class="row">
            <div class="col">Gender</div>
            <div class="col">Male</div>
      </div>
    </div>

   <div class="card ">
     <div class="row">
           <div class="col">Country</div>
           <div class="col">India</div>

     </div>
     <div class="row">
           <div class="col">City</div>
           <div class="col">Bangalore</div>

     </div>
     <div class="row">
           <div class="col">Address Line1</div>
           <div class="col">L-144 Sector-6 HSR Layout</div>

     </div>
     <div class="row">
           <div class="col">Address Line2</div>
           <div class="col">Bangalore</div>

     </div>
     <div class="row">
           <div class="col">Pincode</div>
           <div class="col">560 012</div>

     </div>

   </div>
    <div class="card">
      <div class="row">
            <div class="col">Email</div>
            <div class="col col-67">ravikiran@greettech.com</div>

      </div>
    </div>

    <div class="card ">
      <div class="row">
            <div class="col">Language 1</div>
            <div class="col">English</div>

      </div>
      <div class="row">
            <div class="col">Language 2</div>
            <div class="col">Kannada</div>

      </div>
    </div>

    <div class="card" ui-sref="templates.patientchat">
        <div class="row">
              <div class="col">Change Password</div>
        </div>
     </div>

    <div class="card">
      <div class="row">
            <div class="col">Mobile Number</div>
            <div class="col">+919844992181</div>
      </div>
     </div>

     <div class="card ">
       <div class="row">
             <div class="col">Bank Details</div>
             <div class="col">Bank Name</div>
       </div>
       <div class="row">
             <div class="col">A/C No</div>
             <div class="col">123456789123</div>
       </div>
       <div class="row">
             <div class="col">IFSC Code</div>
             <div class="col">KKBK004201</div>
       </div>
     </div>

      <div class="card">
        <div class="row">
              <div class="col">Consulting Fee</div>
              <div class="col">$30</div>
        </div>
      </div>

      <div class="card">
        <div class="row">
              <div class="col">Specialities</div>
              <div class="col">Neurology,General Medicine</div>
        </div>
      </div>

      <div class="card item item-text-wrap">
        <div class="row">
              <div class="col-75">Medical Council Membership</div>
              <div class="col">**</div>
        </div>
        <div class="row ">
              <div class="col-75">Medical Council Membership</div>
              <div class="col">**</div>
        </div>
      </div>
<p><a href="">Terms of Use</a></p>
</div>





  </ion-content>
</ion-view>
