<ion-view class="doctor-acc-view" cache-view="false">

  <ion-nav-title>
    <span>Account Statement</span>
  </ion-nav-title>
  <ion-content>

    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <!--<img class="user-image" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" spinner-on-load>-->
           <img ng-src="/img/dq_icon_payments_large_540x960.png" spinner-on-load>
          </pre-img>
        </div>
        <h1>Report</h1>
        <h2>Balance<span>$72.00</span></h2>
    </div>
    </div>

<ion-item class="item-divider">Transaction History</ion-item>
<div class="calender-container">
  <div class=" from-date">
    <div class="card  item-icon-right">
      <div class="row">
            <div class="col">From</div>
            <div class="col"><i class="icon ion-android-calendar"></i></div>
      </div>

    </div>
  </div>
  <div class=" to-date">
    <div class="card  item-icon-right">
      <div class="row">
            <div class="col">To</div>
            <div class="col"><i class="icon ion-android-calendar"></i></div>
      </div>

    </div>
  </div>

</div>
<div class="bottom-content">

  <a class="item  item-avatar" >
    <img src="img/doc.jpg">
    <h3>FirstName LastName<span>$15.00</span></h3>
    <p>12 january 2016</p>
  </a>

  <a class="item  item-avatar" >
    <img src="img/doc.jpg">
    <h3>FirstName LastName<span>$15.00</span></h3>
    <p>12 january 2016</p>
  </a>

  <a class="item  item-avatar" >
    <img src="img/doc.jpg">
    <h3>FirstName LastName<span>$15.00</span></h3>
    <p>12 january 2016</p>
  </a>

  <a class="item  item-avatar" >
    <img src="img/doc.jpg">
    <h3>FirstName LastName<span>$15.00</span></h3>
    <p>12 january 2016</p>
  </a>

  <a class="item  item-avatar" >
    <img src="img/doc.jpg">
    <h3>FirstName LastName<span>$15.00</span></h3>
    <p>12 january 2016</p>
  </a>


</div>

</ion-content>


</ion-view>
