<ion-view class="prescription-view" cache-view="false">
  <ion-nav-title>
    <span>Medications</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="top-content row">
      <div class="col col-center">
        
        <a class="item dark item-avatar item-icon-right"  ><!--ui-sref="app.doctorprofile"-->
            <img src="img/pat.jpg">
            <div><h2>FirstName LastName </h2>
            <p>14:33 on 16/01/2016</p>
            </div>
        </a>

        <button class="clear-field button button-clear button-positive">
          Clear
        </button>
        <button class="done button button-clear button-positive">
          Done
        </button>
        <div class="textform">
          <label class="item item-input">
           <textarea placeholder=" " id=medication name=medications></textarea>
         </label>
        </div>
      </div>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">

      </div>
    </div>
  </ion-content>
</ion-view>
