<ion-view class="patient-notes-view" cache-view="false">
  <ion-nav-title>
   <span>Notes</span>
 </ion-nav-title>
  <ion-content scroll="false">
    <a class="item dark item-avatar item-icon-right"  ><!--ui-sref="app.doctorprofile"-->
        <img src="img/pat.jpg">
        <div><h2>FirstName LastName </h2>
        <p>14:33 on 16/01/2016</p>
        </div>

    </a>
    <p class="description">After completing the diagnosis,test recomnded and medication section the results will be sent to your patient as an attachment in message.</p>
    <div class="card ">
    <div class="row">
          <div class="col col-75"  ui-sref="templates.diagnosis" >Diagnosis</div>
  <label class="checkbox">
             <input class="checkbox" type="checkbox" id=diagnosis name=diagnosis >
  </label>

          <div class="col" ui-sref="templates.diagnosis"><i class="icon ion-chevron-right icon-accessory" ></i></div>
    </div>
    <div class="  row">
          <div class="col col-75"  ui-sref="templates.tests">Tests Recomended</div>
          <label class="checkbox">
             <input class="checkbox"  type="checkbox" id=tests name=tests >
          </label>

          <div class="col" ui-sref="templates.tests"><i class="icon ion-chevron-right icon-accessory"></i></div>
    </div>
    <div class="  row">
          <div class="col col-75"  ui-sref="templates.medication" >Medication</div>
          <label class="checkbox">
             <input class="checkbox"  type="checkbox" id=medication name=medication >
          </label>

          <div class="col" ui-sref="templates.medication"><i class="icon ion-chevron-right icon-accessory"></i></div>
    </div>


  </div>
  <div class="buttons">
   <button  class="button button-block button-assertive" >Send prescription</button>
   <button  class="button button-block button-assertive" >Complete & charge</button>
   <button  class="button button-block button-energized" >Complete without charge</button>
 </div>

  </ion-content>
</ion-view>
