<ion-view class="patient-request-view" cache-view="false">
  <ion-nav-title >
    <span>Request</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="top-content row">

      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <!--<img class="user-image" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" spinner-on-load>-->
            <img class="user-image " ng-src="img/patient.jpg" spinner-on-load>
          </pre-img>
        </div>
        <h1>FirstName LastName</h1>
        <h2>Male,Age:36</h2>
        <h3>Bangalore,India</h3>
        <h4>Requested a Voice call</h4><!--Consultation accepted-->
        <h5>30 min ago</h5><!--Please wait for the call-->
      </div>


    </div>

    <div class="bottom-content row">

        <div class="button-bar" >
          <button class="button  button-block button-calm  " ng-click="accept();" ui-sref="templates.accepted">Decline</button>
          <button class="button  button-block button-calm  " ng-click="toggle = !toggle">{{toggleText}}</button>

        </div>

    </div>
  </ion-content>
</ion-view>
