.ion-android-bookmark::before {
    content: url('/img/dq_icon_small_profile_540x960.png');
}

.ion-radio-waves::before {
    content: url('/img/dq_icon_small_mydoctors_540x960.png');
}

.ion-social-wordpress::before {
    content: url('/img/dq_icon_small_myconsultations_540x960.png');
}

.ion-wand::before {
    content: url('/img/dq_icon_small_payments_540x960.png');
}

.ion-asterisk::before {
    content: url('/img/dq_icon_small_reviewapp_540x960.png');
}

.ion-document::before {
    content: url('/img/dq_icon_small_notifications_540x960.png');
}

.ion-gear-a::before {
    content: url('/img/dq_icon_small_customer-care_540x960.png');
}
//first page icon images
.ion-android-happy::before {
    content: url('/img/dq_icon_speciality_540x960.png') ;
    max-width: 100%;
    height: auto;
    width: 2vmin;
  //  background-color: red;
}
.ion-android-search::before {
    content: url('/img/dq_icon_search_540x960.png');
}
.ion-ios-medkit::before {
    content: url('/img/dq_icon_doctor_540x960.png');
}

.ion-ios-arrow-right::before{
    content: url('/img/dq_arrow_grey_forward_540x960.png');
}
//front page ionicons-font-path
.ion-android-add-circle::before{
    content: url('/img/dq_notifier_online_540x960.png');
    padding: 30px 10px;
    padding-top: 0px;
    padding-left: 100px;
}

.ion-android-alert::before{
    content: url('/img/dq_notifier_offline2_540x960.png');
    padding: 30px 10px;
    padding-top: 0px;
    padding-left: 100px;
}

//Doctor screens
.ion-android-wifi::before{
    content: url('/img/dq_icon_small_payments_540x960.png');
}
