<ion-view title="Doctor Registration">
    <ion-content padding="'true'" class="has-header">
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <center><img src="img/progress2.png" width="50%" height="auto" style="width: 50%; height: auto;"></center>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <form class="list">
            <label class="item item-input" name="doc_email">
                <input type="email" placeholder="Email">
            </label>
            <div class="spacer" style="width: 300px; height: 18px;"></div>
            <label class="item item-input" name="doc_phnum">
                <input type="tel" placeholder="Mobile Number">
            </label>
            <div class="spacer" style="width: 300px; height: 87px;"></div>
            <button class="button button-balanced button-block " ng-click="showConfirm();">Submit</button>
        </form>
    </ion-content>
</ion-view>
