<ion-view title="Patient Registration1" class="pateint-view" cache-view="false">
  <div class="top-content row">
    <ion-content padding="'true'" class="has-header">

            <center><h3>Patient Registration</h3></center>

        <div class="spacer" style="width: 300px; height: 9px;"></div>
        <center><img src="img/iOS-Assets-v01_patient_registration_progress1.png" width="50%" height="auto" style="width: 50%; height: auto;"></center>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <div>
            <center>Register now and get your first consultation FREE with Doctor of your choice.</center>
        </div>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <form class="list">
            <label class="item item-input" name="pat_fname">
                <input type="text" placeholder="First Name">
            </label>
            <div class="spacer" style="width: 300px; height: 7px;"></div>
            <label class="item item-input" name="pat_mname">
                <input type="text" placeholder="Middle Name">
            </label>
            <div class="spacer" style="width: 300px; height: 7px;"></div>
            <label class="item item-input" name="pat_lname">
                <input type="text" placeholder="Last Name">
            </label>
            <div class="spacer" style="width: 300px; height: 9px;"></div>
            <label class="item item-input" name="pat_lname">
                <input type="number" placeholder="Age">
            </label>
            <div class="spacer" style="width: 500px; height: 50px;"></div>

  </div>



  <div class="bottom-content col">
      <a  class="login button button-stable button-block " ui-sref="auth.patientRegistration2">Next</a>
      <center>
          <font size="2">By signing in I agree to DoctorQuicks
              <a href="#/">Terms&amp;Conditions</a>
          </font>
      </center>

  </div>

        </form>
    </ion-content>
</ion-view>
